__pycache__/
*.pyc
*.pyo

# output data
output/
plan/
video/
!output/sim/
!output/sim/sample.raw
logs.txt
run0.root
# machine-specific config
config.json

# old/unused files
structure.txt
folder_structure.py
launch_pyqt_app.sh
*.g4bl
rc.log
# venv
.venv/

# IDE
.vscode/
.idea/
